@charset "UTF-8";

@font-face {
    font-family: "roboto";
    src: url(/assets/fonts/Roboto-Bold.ttf) format('opentype');
    font-weight: 700;
}

:root {
    --cinza-escuro-ardósia: hsl(234, 29%, 20%);
    --cinza-carvao: hsl(235, 18%, 26%);
    --cinza: hsl(231, 7%, 60%);
    --tomate: hsl(4, 100%, 67%);

    --fonte-roboto: "roboto", cursive;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body, html {
    background-color: var(--cinza-carvao);
    height: 100vh;
    width: 100vw;
    
}

main {   
    margin-top: 50px; 
    margin-bottom: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section.singup {
    
    /* margin: auto;*/
    
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    max-width: 1000px;
    height: 630px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
}

.div-cadastro {  
    font-size: 16px; 
    padding: 20px; 
    max-width: 420px;  
    margin: auto;
    font-family: var(--fonte-roboto); 
    
}

.div-imagem {
    padding: 20px;
}

.div-imagem > img {
    border-radius: none;
}

ul {
    list-style-type: none;
    padding: 30px 0px ;
}
ul > li {
    padding: 5px; 
}

li > img {
    vertical-align: middle;
    padding-right: 9px;
}

.div-cadastro > h1 {
    text-align: center;
    font-size: 3.5em;
    padding-bottom: 30px;
    color: var(--cinza-escuro-ardósia);
   font-family: var(--fonte-roboto);
   font-weight: bold;   
   
}

.div-cadastro > p {
    font-size: 16px;
    padding-left: 10px;
}

.div-cadastro label {   
    font-weight: bold;
}

.div-cadastro input, button {
    width: 100%;  
    height: 50px;
    font-size: 16px;
    border-radius: 10px;
}

.div-cadastro input {
    padding-left: 10px;
    margin-bottom: 15px;
    margin-top: 5px;
    border: 1px solid var(--cinza);
}

div.label {
    display: flex;
    justify-content: space-between;
}

span.erro-message {
    display: none;
    color: #ff6257;
    font-weight: bold;
    font-size: 0.9em;
}
.erro {
    border: 1px solid #ff6257 !important;
    background-color: #ff625739;
    color: #ff6257;
}

input.erro::placeholder {
    color: #ff6257;
}

.div-cadastro > input:hover {
    border: 1px solid black;
}

.div-cadastro > button,
.div-success-message button {
    background-color: var(--cinza-carvao);
    color: white;
    font-weight: 700;
    border: none;
}

.div-cadastro > button:hover,
.div-success-message button:hover {
    cursor: pointer;
    background-image: linear-gradient(to left, #FF6A3A, #ff5590);
    box-shadow: 0px 7px 20px #ff6b3a86;
    transition: transform .5s, backgroud-imagem .3s;
}

.div-success-message {
    display: none;

    max-width: 420px;
    height: 450px ;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    backdrop-filter: opacity(20%);

} 

.div-success-message h1 {
    font-size: 2.8em;
    margin-top: 16px;
    color: var(--cinza-escuro-ardósia);
    font-family: var(--fonte-roboto);
    font-weight: bold;
}

.div-success-message p {
    height: 120px;
    font-size: 0.9em;
    padding-top: 16px;
}


.attribution > p {
    padding-top: 16px;
    vertical-align: bottom;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
}

.attribution > p > a {
    color: black;
}